---


- name: Create servers (uri)
  delegate_to: localhost
  tags:
    - create_servers_uri
    - uri
  uri:
    url: "http://{{ ns_ip }}/nitro/v1/config/server?action=add"
    method: POST
    status_code: 201, 599, 409
    return_content: yes
    headers:
      X-NITRO-USER: "{{ ns_user }}"
      X-NITRO-PASS: "{{ ns_pass }}"
    body_format: json
    body: '{"server": {{ item }} }'
  register: add_servers
  with_items: "{{ servers.server }}"

